@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

body {
  margin: 0;

  font-family: "Karla", sans-serif;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e5e5e5;
}

.custom-scrollbar {
  scrollbar-width: thin;
}

/* Design Defaults */
.pc-primary {
  background: #2f80ed;
}

.pc-text-primary {
  color: #2f80ed;
}

.pc-blue-2 {
  background: #def1ff;
}

.pc-text-blue-2 {
  color: #def1ff;
}

.pc-blue-4 {
  background: #ecf3fe;
}

.pc-text-blue-4 {
  color: #ecf3fe;
}

.pc-gray {
  background: #6a6a6a;
}

.pc-text-gray {
  color: #6a6a6a;
}

.pc-neutral-gray-5 {
  background: #8b8c8c;
}

.pc-text-neutral-gray-5 {
  color: #8b8c8c;
}

.pc-neutral-gray-6 {
  background: #4f4f4f;
}

.pc-text-neutral-gray-6 {
  color: #4f4f4f;
}

.pc-black {
  background: #000;
}

.pc-text-black {
  color: #000;
}

.pc-text-danger {
  color: #ff0033;
}

.pc-bg-danger {
  background: #ff0033;
}

.pc-danger-shade {
  background: #ff00331e;
}

.pc-success {
  background: #4bb543;
}

.pc-success-shade {
  background: #4bb54312;
}

.pc-warning-shade {
  background: #f9971e12;
}

.pc-text-success {
  color: #4bb543;
}

.pc-warning {
  background: #f9971e;
}

.pc-text-warning {
  color: #f9971e;
}

.pc-primary-shade {
  background: #e2f5ff95;
}

.pc-gray-shade {
  background: #0000000d;
}

.pc-bg-gray {
  background-color: #f5f6f8;
}

.pc-bg-gray-2 {
  background-color: #f4f5f6;
}

.pc-border-gray {
  border-bottom: 1px solid #0000000d;
}

/* Project Defaults */
h1 {
  @apply text-4xl pc-text-black font-medium;
}

h2 {
  @apply text-3xl pc-text-black font-medium;
}

h3 {
  @apply text-2xl pc-text-black font-medium;
}

h4 {
  @apply text-xl pc-text-black font-medium;
}

h5 {
  @apply text-lg pc-text-black font-medium;
}

h6 {
  @apply text-base pc-text-black font-medium;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.form-label {
  @apply text-sm text-left;
}

.form-control {
  @apply mt-2 w-full py-3 px-2 text-sm border rounded;
}

@tailwind utilities;
